---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
            <section class="font-serif py-2 prose">
                <h1>Hello, I'm Alex.</h1>
                <h3>&raquo; Fullstack Developer, Techno-Optimist, Web Craftsman</h3>
                <p>I'm a software engineer who enjoys daydreaming about the outdoors. I embrace a mentality of D.I.Y. whether its creating through digital or physical mediums.</p>
                <p>In past lives I was a teacher, a tired but inspired undergraduate student at Cal, an aspiring musical theater actor, and eventually got over my fear of bodies of water to become a lightweight rower.</p>
            </section>
		</main>
		<Footer />
	</body>
</html>
