---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('writing')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const props = {title: SITE_TITLE, description: SITE_DESCRIPTION};
---

<BaseLayout {...props}>
	<main class="max-w-prose">
		<section class="grid grid-cols-2">
		{
			posts.map((post) => (
				<div>
					<a href={`/writing/${post.slug}/`}>{post.data.title}</a>
				</div>
				<time datetime={post.data.pubDate.toISOString()}>
					{post.data.pubDate.toLocaleDateString('en-us', {
						year: 'numeric',
						month: 'short',
						day: 'numeric',
					})}
				</time>
			))
		}
		</section>
	</main>
</BaseLayout>

